/* Оформлення параграфов */
body {
    background: #333333 url(img/18.jpg) repeat-x top left;
}

#page {
    width: 960px;
    margin: auto;
}

.strong-red {
    font-weight: bolder;
    color: red;
}

.light-blue {
    font-weight: bold;
    color: blue;
}

.light-blue {
    font-size: 18px;
    color: black;
}