/* Оформлення параграфов */
body {
    background: #333333 url(img/18.jpg) repeat-x top left;
}

#page {
    width: 960px;
    margin: auto;
}

.strong-red {
    margin-top: 400px;
    color: #4553ff;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-transform: uppercase;
    text-indent: 30px;
    letter-spacing: 5px;
    word-spacing: 40px;
    line-height: 30px;
}

.light-blue {
    font-weight: bold;
    color: blue;
}

.light-blue {
    font-size: 18px;
    color: black;
}
.strong-red {
    
}
