/* Оформлення параграфов */
#page {
    width: 960px;
    margin: auto;
}

.strong-red {
    font-weight: bolder;
    color: red;
}

.light-blue {
    font-weight: bold;
    color: blue;
}

.light-blue {
    font-size: 18px;
    color: black;
}