@import url(https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Оформлення параграфов */
body {
    background: #333333 url(img/18.jpg) repeat-x top left;
}

#page {
    width: 960px;
    margin: auto;
}

.strong-red {
    margin-top: 400px;
    color: #4553ff;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-indent: 30px;
    line-height: 30px;
    font-family: "Marck Script", cursive;
}

.light-blue {
    font-weight: bold;
    color: blue;
}

.light-blue {
    font-size: 18px;
    color: black;
}

#styles li {
    color: #45a7fd;
    font-family: "Marck Script", cursive;  
    list-style: circle url(img/logo.png) inside;
    padding: 5px;
    border: 1px solid #45a7fd;
}

#styles li:hover {
    background: #000;
}

#navigation {
    height: 65px;
}

#navigation ul li {
    float: left;
    position: relative;
}

#navigation ul li a {
    color: #fff;
    padding: 0 49px;
    font-family: "Marck Script", cursive;
    text-decoration: none;
    line-height: 65px;
    display: block;
    height: 65px;
}

#navigation ul li a:hover {
    background: #1d86e2;
    text-decoration: underline;
}

#navigation .dropdown {
    position: absolute;
    top: 100%;
    width: 158.73px;
    background: #575757;
    display: none;
}

#navigation li:hover .dropdown {
    display: block;
}

#navigation .dropdown li {
    width: 100%;
    height: 50px;
}

#navigation .dropdown li a {
    line-height: 50px;
    height: 50px;
}

#header {
    height: 204px;
    position: relative;
}

.logo {
    display: block;
    position: absolute;
    top: 45px;
    left: 0;
}

.search {
    position: absolute;
    right: 0;
    top: 94px;
}

#content {
    padding-top: 20px;
}

#content:before, 
#content:after {
    content:"";
    display:table;
}

#content:after {
    clear:both;
}

#content {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

#article {
    width: 740px;
    padding-right: 20px;
    float: left;
} 

#article h1 {
    color: #fff;
    font-family: "Marck Script", cursive;
}

#article h2 {
    color: #fff;
    font-family: "Marck Script", cursive;
}

#article h3 {
    color: #fff;
    font-family: "Marck Script", cursive;
}

#article h4 {
    color: #fff;
    font-family: "Marck Script", cursive;
}

#article h5 {
    color: #fff;
    font-family: "Marck Script", cursive;
}

#article h6 {
    color: #fff;
    font-family: "Marck Script", cursive;
}

#sidebar {
    width: 200px;
    float: left;
}

#sidebar ul li a {
    color: #fff;
    font-family: "Marck Script", cursive;
}
#footer {
    color: #fff;
    font-family: "Marck Script", cursive;
}
